.indent{
    margin-left: 2px;
    font-size:36px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

select, textarea {
    font-size: 18px;
}

.navbar 
			{
    			overflow: hidden;
    			background-color: #333;
    			font-family: Arial, Helvetica, sans-serif;
			}
			
			.navbar a 
			{
 				float: center;
	    		font-size: 18px;
	    		color: white;
	    		text-align: center;
	    		padding: 14px 16px;
    			text-decoration: none;
			}
			
			.hover:hover
			{
    			background-color: red;
    		}
